.container {
  display: flex;

  justify-content: center;
  padding: 50px;
  .checkoutLayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1000px;
    gap: 50px;
    padding: 20px;

    .right {
      background: $secondary-color;
      border-radius: 50px;
      padding: 40px;
      color: $white-color;

      .form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        border-bottom: 1px solid white;
        padding-bottom: 20px;
        color: $white-color;
        width: 200px;

        .group {
          &:nth-child(-n + 3) {
            grid-column-start: 1;
            grid-column-end: 3;
          }
        }

        input,
        select {
          width: 100%;
          padding: 10px 20px;
          border-radius: 20px;
          box-sizing: border-box;
          margin-top: 10px;
          border: none;
        }
      }
    }

    .list {
      img {
        height: 70px;
        width: 70px;
      }
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      div {
        &:nth-child(2) {
          font-weight: bold;
          font-size: x-large;
        }
      }
    }
  }
  .buttonCheckout {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    background: rgb(98, 193, 168);
  }
  .returnCart {
    h1 {
      border-top: 1px solid $black-color;
      padding: 20px 0;
    }
    .item {
      display: grid;
      grid-template-columns: 80px 1fr 50px 80px;
      align-items: center;
      gap: 30px;
      margin-bottom: 30px;
      padding: 0 10px;
      box-shadow: 0 10px 20px gray;
      border-radius: 20px;

      .name,
      .returnPrice {
        font-size: x-large;
        font-weight: bold;
      }
    }

    .listCart {
      img {
        height: 80px;
      }
    }
  }
}
