.nav-top {
  justify-content: center;
  display: flex;
  align-items: center;
  // padding-top: 9.8rem;
  position: fixed;
  background: transparent;
  width: 100vw;
  gap: 3rem;
  // height: 4rem;
  flex-wrap: wrap;
}

// media query

@media (max-width: 900px) {
  .nav-top {
    display: flex;
  }
}
