.shop {
  text-align: center;
  text-decoration: none;
  justify-content: center;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;

  
  a {
    text-decoration: none;
    border: 1px  $white-color solid;
    width: 100px;
    height: 100px;
    color: white;
    border-radius: 5px;
    @include button;

    button {
      background: $secondary-color-variant;
      font-size: 50px;
      color: white;
      cursor: pointer
      ;
      

      &:hover {
        background: lighten($secondary-color, 10%);
        
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .shop {
    width: 100%;

    a{

        button {
         
          height: 60px;
          font-size: 30px;
          font-weight: thin;
          background: none;
          color: $white-color;
        }
    }

  }
}
