.shop {
  text-align: center;
  text-decoration: none;
  justify-content: center;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  
  

  
  a {
    text-decoration: none;
    border: 1px  $white-color solid;
    width: 100px;
    height: 100px;
    color: $black-color;
    border-radius: 5px;
    @include button;
    @include gradientBackground;

    button {
     
      font-size: 50px;
      color: $black-color;
      cursor: pointer;
      @include gradientBackground;
      
      

      &:hover {
        @include gradientBackground;
        
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .shop {
    width: 100%;

    a{
      height: 40px;
      @include gradientBackground;
        button {
         
         
          font-size: 20px;
          font-weight: thin;
          background: none;
          color: $black-color;
        }
    }

  }
}
