/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root{
   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --first-color: rgb(232, 137, 224);
   --first-color-light: rgb(175, 138, 163);
   --first-color-alt: hsl(32, 75%, 50%);
   --second-color: rgb(127, 126, 141);
   --dark-color: white;
   --white-color: hsl(212, 4%, 95%);
   --body-color: hsl(294, 79%, 18%);
   --container-color: rgb(115, 9, 115);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: 'Bai Jamjuree', sans-serif;

   --h2-font-size: 1.25rem;
   --normal-font-size: 1rem;
}
